/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;500;600&family=DM+Serif+Display:ital@0;1&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  body {
    font-family: theme('fontFamily.sans');
    color: theme('colors.reuters.black');
    background: white;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: theme('fontFamily.serif');
  }
}
